<section class="row" >

	<div class="latestarticle col-md-3 col-sm-4 col-xs-12" css-equal-height="latestarticle" ng-repeat="a in articles | limitTo: limit | offset: offset" >
		 <a  href="{{a.url}}">
	       	<div ng-show="a.image != ''" style="position:relative" class="greyscale">
	       		<img ng-src="{{a.image_380}}" alt="..." class="articleimage img-responsive">
	       		<span ng-show="a.paywall == 'closed'" class="paywall_icon" title="Låst">l</span>
	       	</div>
	       	<div>
	        	<h4 class="media-heading"><span class="square"></span> {{a.title}}</h4>
	        	<p ng-if="showlead">{{a.lead}}</p>
	        </div>
	    </a>
	</div>
</section>
